{erl_opts, [debug_info,{pc, unicode}]}.
{deps, []}.

{plugins, [rebar3_format]}.

{format, [
    {files, ["lib/rime_intro/src/*.erl","lib/rime_intro/test/*.erl",
	         "lib/posix_notation/src/*.erl","lib/posix_notation/test/*.erl",
			 "lib/simple_pattern_matching/src/*.erl","lib/simple_pattern_matching/test/*.erl"
	]},
    {formatter, default_formatter},
    {options, #{ribbon=>80 }}   
]}.